html, body {height: 100%;} 
body { margin: 0;  font-family: Roboto, "Helvetica Neue", sans-serif; } 

.msg-success {--mdc-snackbar-container-color: #28a745 !important;} 
.msg-error {--mdc-snackbar-container-color: #e35e6b !important;}

mat-card {
  form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  } 
  button {margin: 20px 15px 0px 0px}
}

